<head>
<head>
<meta charset="UTF-8">
<meta name="Viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-compatible" content="ie=edge">
<title>MARCELO ROJAS</title>
<link rel="stylesheet"href="./styles.css">

</head>
<body>
    <header class="cabecera-principal"> BARRA DE HERRAMIENTAS </header>
     <section class="seccion-principal"> 
         <aside> CONTENIDO SECUNDARIO </aside>
         <main class="main-principal">
            <header> SUBBARRA DE HERRAMIENTAS</header> 
            <section> SOY LA SECCIOIN GRANDE</section>

     </section>
</body>
</head>