body {
    grid-template-columns: 10% 80% 10%;
    text-align: center;
}
p{
text-align: center;
font-style: normal;
font-size: 25px;
line-height: 15px;
   
}

img{
    
    display:inline-block;
    margin:auto;
    height: 50%;
    width: 50%;    
    }